Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

add http client class for api calls (#61)
  .env.example
  src/api/api-service.ts
  src/api/auth-service.ts
  src/api/http-client.ts
  src/api/service-resolver.ts
  src/mocks/mock-api-service.ts
  src/mocks/mock-auth-service.ts
  src/mocks/responses/loginResponse.ts
  src/mocks/responses/registerResponse.ts
Due: npm run format:precommit, npm run lint:fix

Completed the projects gallery page
  src/components/app/buttons/button.tsx
  src/components/app/buttons/index.tsx
  src/components/app/buttons/join-project-button.tsx
  src/components/app/buttons/leave-project-button.tsx
  src/components/app/index.ts
  src/components/app/project-gallery/card-pill.tsx
  src/components/app/project-gallery/card.tsx
  src/components/app/project-gallery/content.ts
  src/components/app/project-gallery/index.ts
  src/components/app/project-gallery/panel.tsx
  src/components/app/project-gallery/project-gallery.tsx
  src/components/app/project-gallery/tabs.tsx
  src/components/app/project-nav/card.tsx
  src/components/app/project-nav/index.ts
  src/components/app/project-nav/project-nav.tsx
  src/images/discord.png
  src/images/index.ts
  src/images/slack.png
  src/pages/app.tsx
  src/pages/app/projects/index.tsx
  src/styles/theme.ts
Due: npm run format:precommit, npm run lint:fix

Resolve PR comments
  site.config.js
  src/components/app/buttons/button.tsx
  src/components/app/buttons/index.ts
  src/components/app/buttons/index.tsx
  src/components/app/buttons/join-project-button.tsx
  src/components/app/buttons/leave-project-button.tsx
  src/components/app/buttons/project-button.tsx
  src/components/app/index.ts
  src/components/app/project-gallery/card-pill.tsx
  src/components/app/project-gallery/card.tsx
  src/components/shared/button.tsx
  src/components/shared/index.ts
  src/pages/app/projects/index.tsx
  src/styles/constants.ts
  src/styles/theme.ts
Due: npm run format:precommit, npm run lint:fix

Moved the Button.tsx file to the correct shared/ folder
  src/components/app/buttons/project-button.tsx
  src/components/app/shared/button.tsx
  src/components/app/shared/index.ts
  src/components/shared/index.ts
Due: npm run format:precommit, npm run lint:fix

use index as key with .map
  src/components/app/project-gallery/card.tsx
Due: npm run format:precommit, npm run lint:fix

add-blog-post-for-motivware
  content/assets/dclark.png
  content/author.yaml
  content/blog/2019-09-15-the-motivware-project/hero.jpg
  content/blog/2019-09-15-the-motivware-project/index.md
Due: npm run format:precommit

typo-in-link
  content/blog/2019-09-15-the-motivware-project/index.md
Due: npm run format:precommit

create createProject file
  src/components/shared/form/createProject.tsx
  src/components/shared/form/forms.tsx
  src/components/shared/form/index.tsx
  src/pages/app/projects/create.tsx
Due: npm run format:precommit, npm run lint:fix

add basic form validation
  src/components/shared/form/controls.tsx
  src/components/shared/form/createProject.tsx
  src/components/shared/form/error-msg.tsx
  src/components/shared/form/forms.tsx
  src/components/shared/form/index.tsx
  src/utils/form-validation.ts
  src/utils/index.ts
Due: npm run format:precommit, npm run lint:fix

grammar-and-spelling-corrections
  content/blog/2019-09-15-the-motivware-project/index.md
Due: npm run format:precommit

restrict textarea characters functionality
  src/components/shared/form/createProject.tsx
Due: npm run format:precommit, npm run lint:fix

start-of-api-call-logic
  src/pages/signin.tsx
Due: npm run format:precommit, npm run lint:fix

Added mock responses
  src/api/api-service.ts
  src/api/types/api-response.ts
  src/api/types/project-technology.ts
  src/api/types/project-user.ts
  src/api/types/project.ts
  src/components/app/buttons/project-button.tsx
  src/components/app/project-gallery/card.tsx
  src/components/app/project-gallery/content.ts
  src/components/app/project-gallery/panel.tsx
  src/components/app/project-gallery/project-gallery.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/getProjectsResponse.ts
  src/mocks/responses/index.ts
  src/mocks/responses/projectUserResponse.ts
Due: npm run format:precommit, npm run lint:fix

add project type validation; add project type mock api response; add api to create project
  src/api/api-service.ts
  src/components/shared/form/controls.tsx
  src/components/shared/form/createProject.tsx
  src/mocks/mock-api-service.ts
  src/mocks/responses/getProjectTypes.ts
Due: npm run format:precommit, npm run lint:fix

add SelectInput placeholder prop
  src/components/shared/form/controls.tsx
  src/components/shared/form/createProject.tsx
Due: npm run format:precommit, npm run lint:fix

add nav ui elements for authenticated user
  src/assets/images/default.png
  src/assets/images/dot.png
  src/components/shared/buttons/nav-button.tsx
  src/components/shared/layout.tsx
  src/components/shared/navigation.tsx
  src/templates/blog.tsx
Due: npm run format:precommit, npm run lint:fix

move images
  src/components/shared/layout.tsx
  src/components/shared/navigation.tsx
  src/images/default.png
  src/images/dot.png
Due: npm run format:precommit, npm run lint:fix

install react-select
  package.json
  yarn.lock
Due: npm run format:precommit

create StackExchangeResolver
  src/api/StackExchangeService.ts
  src/api/service-resolver.ts
  src/components/shared/form/createProject.tsx
  src/declarations.d.ts
  src/mocks/MockStackExchangeService.ts
  src/mocks/responses/searchTags.ts
Due: npm run format:precommit, npm run lint:fix

add react-select async initial functionality
  src/components/shared/form/createProject.tsx
  src/declarations.d.ts
Due: npm run format:precommit, npm run lint:fix

Added ability for users to join and leave a project
  src/api/auth-service.ts
  src/api/types/api-response.ts
  src/api/types/project-user.ts
  src/api/types/project.ts
  src/components/app/project-gallery/card.tsx
  src/components/app/project-gallery/panel.tsx
  src/components/app/project-gallery/project-gallery.tsx
  src/helpers/auth-header-helper.ts
  src/helpers/index.ts
  src/helpers/jwt-token-helper.ts
  src/helpers/session-storage-helper.ts
  src/helpers/user-auth-helper.ts
  src/mocks/responses/getProjectsResponse.ts
Due: npm run format:precommit, npm run lint:fix

add nav ui elements for authenticated user
  src/components/shared/buttons/nav-button.tsx
  src/components/shared/layout.tsx
  src/components/shared/navigation.tsx
  src/images/default.png
  src/images/dot.png
  src/templates/blog.tsx
Due: npm run format:precommit, npm run lint:fix

Added CRUD functionality to items
  src/api/api-service.ts
  src/api/auth-service.ts
  src/api/types/responses.ts
  src/components/app/project-gallery/card.tsx
  src/components/app/project-gallery/project-gallery.tsx
  src/helpers/auth-header-helper.ts
  src/helpers/index.ts
  src/helpers/jwt-token-helper.ts
  src/helpers/session-storage-helper.ts
  src/helpers/user-auth-helper.ts
  src/pages/signin.tsx
  src/styles/constants.ts
  src/styles/theme.ts
Due: npm run format:precommit, npm run lint:fix

Fixed build errors
  src/api/api-service.ts
  src/api/types/project-user.ts
  src/components/app/project-gallery/card.tsx
  src/helpers/jwt-token-helper.ts
  src/helpers/session-storage-helper.ts
  src/helpers/user-auth-helper.ts
  src/mocks/mock-auth-service.ts
  src/mocks/responses/get-projects-response.ts
  src/mocks/responses/index.ts
  src/mocks/responses/login-response.ts
  src/mocks/responses/project-user-response.ts
  src/mocks/responses/register-response.ts
  src/pages/signin.tsx
Due: npm run format:precommit, npm run lint:fix

add react-select component and validation
  package-lock.json
  package.json
  src/api/api-service.ts
  src/components/shared/form/createProject.tsx
  src/declarations.d.ts
  src/utils/form-validation.ts
Due: npm run format:precommit, npm run lint:fix

add StackExchange key
  src/api/StackExchangeService.ts
Due: npm run format:precommit, npm run lint:fix

add Hint for Technologies form input
  src/components/shared/form/controls.tsx
  src/components/shared/form/createProject.tsx
Due: npm run format:precommit, npm run lint:fix

fix Technologies form input validation
  src/components/shared/form/createProject.tsx
Due: npm run format:precommit, npm run lint:fix

fix some of the typescript warnings
  src/components/shared/form/createProject.tsx
Due: npm run format:precommit, npm run lint:fix

use try/catch when making api requests
  src/components/shared/form/createProject.tsx
Due: npm run format:precommit, npm run lint:fix

Add License file to content directory
  README.md
  content/LICENSE
Due: npm run format:precommit

Update blog post content
  content/blog/2019-06-02-contributing-part-ii-publishing-blog-posts/index.md
  content/blog/2019-08-30-contributing-part-iii-project-unicorn-web-site/index.md
  content/index.md.example
Due: npm run format:precommit

Added API endpoints to the sign in and sign up pages
  src/api/auth-service.ts
  src/api/types/jwt-token.ts
  src/api/types/project-user.ts
  src/api/types/sign-in.ts
  src/api/types/sign-up.ts
  src/components/app/project-gallery/card.tsx
  src/mocks/mock-auth-service.ts
  src/mocks/responses/signin-response.ts
  src/mocks/responses/signup-response.ts
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run format:precommit, npm run lint:fix

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Path conditions:
  npm run format:precommit: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
