Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

Move svg-icon.tsx -> shared/svg-icon.tsx
  src/components/index.ts
  src/components/shared/index.ts
  src/components/shared/svg-icon.tsx
  src/components/social-icon.tsx
Due: npm run format:precommit, npm run lint:fix

Move social-icon.tsx -> shared/social-icon.tsx
  src/components/blog/author-meta.tsx
  src/components/blog/post/post-meta.tsx
  src/components/index.ts
  src/components/share.tsx
  src/components/shared/index.ts
  src/components/shared/social-icon.tsx
Due: npm run format:precommit, npm run lint:fix

Move share.tsx -> blog/share.tsx
  src/components/blog/index.ts
  src/components/blog/share.tsx
  src/components/index.ts
  src/templates/post.tsx
Due: npm run format:precommit, npm run lint:fix

Fix compnent hover styles
  src/components/blog/author-meta.tsx
  src/components/blog/card/card.tsx
  src/components/blog/pagination.tsx
  src/components/blog/post/post-links.tsx
  src/components/blog/post/post-meta.tsx
  src/components/blog/post/post-tags.tsx
  src/components/blog/share.tsx
  src/components/index-page/cta-button.tsx
  src/components/shared/footer.tsx
  src/components/shared/navigation.tsx
  src/components/shared/page/page-body.tsx
  src/components/shared/page/page-title.tsx
  src/components/shared/social-icon.tsx
  src/pages/blog/tags.tsx
  src/styles/constants.ts
  src/styles/theme.ts
Due: npm run format:precommit, npm run lint:fix

Update About testimonial text
  src/components/index-page/card.tsx
Due: npm run format:precommit, npm run lint:fix

Update package manifest
  package-lock.json
  package.json
Due: npm run format:precommit

Update typography styles
  src/styles/constants.ts
  src/styles/typography.ts
Due: npm run format:precommit, npm run lint:fix

Update order of imports
  src/components/shared/index.ts
  src/images/index.ts
  src/styles/index.ts
Due: npm run format:precommit, npm run lint:fix

Fix Navigation component to accept a list of links
  src/components/shared/layout.tsx
  src/components/shared/navigation.tsx
  src/templates/blog.tsx
Due: npm run format:precommit, npm run lint:fix

Update site metadata
  site.config.js
  src/components/index-page/hero.tsx
  src/hooks/use-site-metadata.ts
Due: npm run format:precommit, npm run lint:fix

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  1-192f9d410fe042802484.js
  1-192f9d410fe042802484.js.map
  1-f9f9103f2233c0287d4e.js
  1-f9f9103f2233c0287d4e.js.map
  404.html
  404/index.html
  blog/author/rmjordas/index.html
  blog/author/rmoran/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/project-unicorn-ui/index.html
  blog/tag/contributing/index.html
  blog/tag/project-introduction/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/project/index.html
  blog/tags/index.html
  chunk-map.json
  component---src-pages-index-tsx-424cd468c26240233090.js
  component---src-pages-index-tsx-424cd468c26240233090.js.map
  component---src-pages-index-tsx-f383ea9f4ed0c91bd5fb.js
  component---src-pages-index-tsx-f383ea9f4ed0c91bd5fb.js.map
  index.html
  offline-plugin-app-shell-fallback/index.html
  pages-manifest-108221cebf74730852db.js
  pages-manifest-108221cebf74730852db.js.map
  pages-manifest-3df5e9d6ec793502e21a.js
  pages-manifest-3df5e9d6ec793502e21a.js.map
  static/d/1044952018.json
  static/d/2028141383.json
  sw.js
  webpack-runtime-1cedefddcb4e7181ec12.js
  webpack-runtime-1cedefddcb4e7181ec12.js.map
  webpack-runtime-efd77c70f362ec44604f.js
  webpack-runtime-efd77c70f362ec44604f.js.map
  webpack.stats.json
Due: npm run format:precommit, npm run lint:fix

Update Contributing Guide content
  .github/CONTRIBUTING.md
  content/blog/2019-02-21-hello-world/index.md
Due: npm run format:precommit

Fix image styles in NotFoundPage
  src/pages/404.tsx
Due: npm run format:precommit, npm run lint:fix

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  404.html
  404/index.html
  blog/author/rmjordas/index.html
  blog/author/rmoran/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/project-unicorn-ui/index.html
  blog/tag/contributing/index.html
  blog/tag/project-introduction/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/project/index.html
  blog/tags/index.html
  chunk-map.json
  component---src-pages-404-tsx-3f0c52ae138cf3ed8e9b.js
  component---src-pages-404-tsx-3f0c52ae138cf3ed8e9b.js.map
  component---src-pages-404-tsx-ed856d9a6ba206d31309.js
  component---src-pages-404-tsx-ed856d9a6ba206d31309.js.map
  index.html
  offline-plugin-app-shell-fallback/index.html
  pages-manifest-3df5e9d6ec793502e21a.js
  pages-manifest-3df5e9d6ec793502e21a.js.map
  pages-manifest-418e13ad304a809535d9.js
  pages-manifest-418e13ad304a809535d9.js.map
  static/d/73/path---blog-hello-world-888-a53-vGOzbOADu44TjpLRsB0IXLSyq14.json
  static/d/812/path---blog-hello-world-888-a53-IpCU6gwZowcYjZD0ZUQct5HZQk.json
  sw.js
  webpack-runtime-32d863c214b61278965e.js
  webpack-runtime-32d863c214b61278965e.js.map
  webpack-runtime-efd77c70f362ec44604f.js
  webpack-runtime-efd77c70f362ec44604f.js.map
  webpack.stats.json
Due: npm run format:precommit, npm run lint:fix

Add configuration for header auto-linking plugin
  gatsby-config.js
  src/styles/global-style.ts
Due: npm run format:precommit, npm run lint:fix

Remove unnecessary wrapper divs
  src/components/shared/layout.tsx
Due: npm run format:precommit, npm run lint:fix

Add configuration for sitemap Gatsby plugin
  gatsby-config.js
  site.config.js
  src/components/blog/share.tsx
  src/components/shared/seo.tsx
  src/hooks/use-site-metadata.ts
  src/templates/author.tsx
  src/templates/tag.tsx
Due: npm run format:precommit, npm run lint:fix

Rename hello-world.jpg -> hero.jpg
  content/blog/2019-02-21-hello-world/hero.jpg
  content/blog/2019-02-21-hello-world/index.md
Due: npm run format:precommit

Update example blog post template
  content/index.md.example
Due: none

Fix minor style issues
  src/components/index-page/about.tsx
  src/components/index-page/card.tsx
  src/components/index-page/hero.tsx
  src/components/index-page/signup.tsx
  src/components/shared/footer.tsx
Due: npm run format:precommit, npm run lint:fix

link google application form, remove slack invite link
  site.config.js
  src/components/index-page/cta-button.tsx
  src/components/index-page/signup.tsx
  src/hooks/use-site-metadata.ts
Due: npm run format:precommit, npm run lint:fix

Update Hello World blog post content
  content/blog/2019-02-21-hello-world/index.md
Due: npm run format:precommit

Initialize blog post for Contributing part 1
  content/blog/2019-05-10-contributing-part-i-getting-started/hero.jpg
  content/blog/2019-05-10-contributing-part-i-getting-started/index.md
Due: npm run format:precommit

Initialize blog post for Contributing part 2
  content/blog/2019-05-11-contributing-part-ii-publishing-blog-posts/hero.jpg
  content/blog/2019-05-11-contributing-part-ii-publishing-blog-posts/index.md
Due: npm run format:precommit

Initialize blog post for Contributing part 3
  content/blog/2019-05-12-contributing-part-iii-project-unicorn-web-site/index.md
Due: npm run format:precommit

update comments
  site.config.js
  src/hooks/use-site-metadata.ts
Due: npm run format:precommit, npm run lint:fix

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  1-6e29019a703f9bd74b4a.js
  1-6e29019a703f9bd74b4a.js.map
  1-f3458c0fdab7f0d880d2.js
  1-f3458c0fdab7f0d880d2.js.map
  404.html
  404/index.html
  blog/author/rmjordas/index.html
  blog/author/rmoran/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/project-unicorn-ui/index.html
  blog/tag/contributing/index.html
  blog/tag/project-introduction/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/project/index.html
  blog/tags/index.html
  chunk-map.json
  component---src-pages-index-tsx-46c37d3c4ddea55c18c3.js
  component---src-pages-index-tsx-46c37d3c4ddea55c18c3.js.map
  component---src-pages-index-tsx-c2ee77f37f01cdfd86b7.js
  component---src-pages-index-tsx-c2ee77f37f01cdfd86b7.js.map
  index.html
  offline-plugin-app-shell-fallback/index.html
  pages-manifest-12b8a8bf63795594249c.js
  pages-manifest-12b8a8bf63795594249c.js.map
  pages-manifest-3700e929d7ce7be61e5d.js
  pages-manifest-3700e929d7ce7be61e5d.js.map
  static/d/1157740355.json
  static/d/3187105031.json
  sw.js
  webpack-runtime-603e7734cdc66a5b4e69.js
  webpack-runtime-603e7734cdc66a5b4e69.js.map
  webpack-runtime-a8c373cc99598eebeeec.js
  webpack-runtime-a8c373cc99598eebeeec.js.map
  webpack.stats.json
Due: npm run format:precommit, npm run lint:fix

Remove anchor background on images
  src/styles/global-style.ts
Due: npm run format:precommit, npm run lint:fix

Update blog post contents
  content/blog/2019-02-21-hello-world/index.md
  content/blog/2019-02-21-hello-world/pup11.png
  content/blog/2019-02-21-hello-world/pup12.jpg
  content/blog/2019-02-21-hello-world/pup13.jpg
  content/blog/2019-02-21-hello-world/pup21.png
  content/blog/2019-02-21-hello-world/pup22.png
  content/blog/2019-02-21-hello-world/pup31.png
  content/blog/2019-02-21-hello-world/pup32.png
  content/blog/2019-02-21-hello-world/pup33.png
Due: npm run format:precommit

Fix minor issue
  content/blog/2019-02-21-hello-world/index.md
Due: npm run format:precommit

Remove "contributing" tag
  content/blog/2019-02-21-hello-world/index.md
Due: npm run format:precommit

Path conditions:
  npm run format:precommit: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
