Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

Update Codeowners
  .github/CODEOWNERS
Due: none

Update content
  content/blog/2019-02-21-hello-world/index.md
Due: npm run format:precommit

Revert changes to web site colors
  .github/logo.png
  src/images/connected-world.svg
  src/images/good-team.svg
  src/images/not-found.svg
  src/images/pu-alt.svg
  src/images/pu.svg
  src/styles/constants.ts
  src/styles/theme.ts
  src/styles/typography.ts
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon-16x16.png
  static/favicon-32x32.png
  static/favicon.ico
  static/mstile-144x144.png
  static/mstile-150x150.png
  static/mstile-310x150.png
  static/mstile-310x310.png
  static/mstile-70x70.png
  static/safari-pinned-tab.svg
Due: npm run format:precommit, npm run lint:fix

Update logo
  .github/logo.png
  src/images/logo.png
Due: none

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  1-884393cfdac97eb70077.js
  1-884393cfdac97eb70077.js.map
  1-abfc1a27035d2e8d7fc3.js
  1-abfc1a27035d2e8d7fc3.js.map
  404.html
  404/index.html
  blog/author/rmjordas/index.html
  blog/author/rmoran/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/project-unicorn-ui/index.html
  blog/tag/contributing/index.html
  blog/tag/project-introduction/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/project/index.html
  blog/tags/index.html
  icons/icon-144x144.png
  icons/icon-192x192.png
  icons/icon-256x256.png
  icons/icon-384x384.png
  icons/icon-48x48.png
  icons/icon-512x512.png
  icons/icon-72x72.png
  icons/icon-96x96.png
  index.html
  manifest.webmanifest
  offline-plugin-app-shell-fallback/index.html
  static/logo-dba47624ebb0681608cbec655c38f4fd.png
  sw.js
  webpack-runtime-7e9640b2258033ee8225.js
  webpack-runtime-7e9640b2258033ee8225.js.map
  webpack-runtime-f996db302b5a9090a606.js
  webpack-runtime-f996db302b5a9090a606.js.map
  webpack.stats.json
Due: npm run format:precommit, npm run lint:fix

Update package manifest
  package-lock.json
  package.json
Due: npm run format:precommit

Initialize Faq component
  src/components/index-page/faq/accordion.tsx
  src/components/index-page/faq/faq.tsx
  src/components/index-page/faq/index.ts
  src/components/index-page/faq/panel.tsx
  src/components/index-page/faq/qa.ts
  src/components/index-page/index.ts
  src/pages/index.tsx
Due: npm run format:precommit, npm run lint:fix

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  404.html
  404/index.html
  blog/author/rmjordas/index.html
  blog/author/rmoran/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/project-unicorn-ui/index.html
  blog/tag/contributing/index.html
  blog/tag/project-introduction/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/project/index.html
  blog/tags/index.html
  index.html
  offline-plugin-app-shell-fallback/index.html
  sw.js
Due: npm run format:precommit, npm run lint:fix

Fix minor naming issues
  src/components/index-page/faq/accordion.tsx
  src/components/index-page/faq/faq.tsx
  src/components/index-page/faq/index.ts
  src/components/index-page/faq/panel.tsx
  src/components/index-page/faq/qas.ts
  src/components/index-page/index.ts
Due: npm run format:precommit, npm run lint:fix

Remove inline styles on Panel's Inner component
  src/components/index-page/faq/panel.tsx
Due: npm run format:precommit, npm run lint:fix

Update Attribution Notice content
  NOTICE
Due: none

Fix answer to render multiple paragraphs correctly
  src/components/index-page/faq/panel.tsx
  src/components/index-page/faq/qas.ts
Due: npm run format:precommit, npm run lint:fix

Add better fix for rendering answers
  src/components/index-page/faq/panel.tsx
  src/components/index-page/faq/qas.ts
  src/components/index-page/faq/qas.tsx
Due: npm run format:precommit, npm run lint:fix

Fix minor issues
  content/blog/2019-02-21-hello-world/index.md
Due: npm run format:precommit

add q and a for why the name project unicorn
  src/components/index-page/faq/qas.tsx
Due: npm run format:precommit, npm run lint:fix

Update blog post content
  content/blog/2019-05-10-contributing-part-i-getting-started/index.md
Due: npm run format:precommit

Allow answers to be just strings
  src/components/index-page/faq/qas.tsx
Due: npm run format:precommit, npm run lint:fix

small correction
  src/components/index-page/faq/qas.tsx
Due: npm run format:precommit, npm run lint:fix

Finalize question and answer list
  src/components/index-page/faq/qas.tsx
Due: npm run format:precommit, npm run lint:fix

Update publish date
  content/blog/2019-05-29-contributing-part-i-getting-started/hero.jpg
  content/blog/2019-05-29-contributing-part-i-getting-started/index.md
Due: npm run format:precommit

Finalize blog post content
  content/blog/2019-05-29-contributing-part-i-getting-started/index.md
Due: npm run format:precommit

Fix web manifest short name
  site.config.js
Due: npm run format:precommit, npm run lint:fix

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  manifest.webmanifest
  sw.js
Due: npm run format:precommit, npm run lint:fix

Fix blog post heading structure
  content/blog/2019-05-29-contributing-part-i-getting-started/index.md
Due: npm run format:precommit

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  2-9127f73bb6622165dcff.js
  2-9127f73bb6622165dcff.js.map
  2-c70f7733b93ed0af7ebb.js
  2-c70f7733b93ed0af7ebb.js.map
  404.html
  404/index.html
  blog/author/rmjordas/index.html
  blog/author/rmoran/index.html
  blog/contributing-part-i-getting-started/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/project-unicorn-ui/index.html
  blog/tag/contributing/index.html
  blog/tag/git/index.html
  blog/tag/github/index.html
  blog/tag/project-introduction/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/project/index.html
  blog/tags/index.html
  chunk-map.json
  index.html
  offline-plugin-app-shell-fallback/index.html
  pages-manifest-224d67470eb6dc98c7ca.js
  pages-manifest-224d67470eb6dc98c7ca.js.map
  pages-manifest-fcb023fedf13e1618f69.js
  pages-manifest-fcb023fedf13e1618f69.js.map
  static/d/649/path---blog-contributing-part-i-getting-started-3-e-7-83f-LRvJCYLrAdLsK1Be6taqJnicSU.json
  static/d/752/path---blog-contributing-part-i-getting-started-3-e-7-83f-06GyZ4pRMoZjKEVB2s78BUJOHw.json
  sw.js
  webpack-runtime-2137bc9ff15978501646.js
  webpack-runtime-2137bc9ff15978501646.js.map
  webpack-runtime-b17b945b1c0355ab6f63.js
  webpack-runtime-b17b945b1c0355ab6f63.js.map
  webpack.stats.json
Due: npm run format:precommit, npm run lint:fix

Fix invalid CSS transition value
  src/components/shared/footer.tsx
Due: npm run format:precommit, npm run lint:fix

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  1-393df696d5a35a9b32e1.js
  1-393df696d5a35a9b32e1.js.map
  1-9751acb7ee5cbd5919ac.js
  1-9751acb7ee5cbd5919ac.js.map
  404.html
  404/index.html
  blog/author/rmjordas/index.html
  blog/author/rmoran/index.html
  blog/contributing-part-i-getting-started/index.html
  blog/hello-world/index.html
  blog/index.html
  blog/project-unicorn-ui/index.html
  blog/tag/contributing/index.html
  blog/tag/git/index.html
  blog/tag/github/index.html
  blog/tag/project-introduction/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/project/index.html
  blog/tags/index.html
  index.html
  offline-plugin-app-shell-fallback/index.html
  sw.js
  webpack-runtime-b0c29417789f666cd036.js
  webpack-runtime-b0c29417789f666cd036.js.map
  webpack-runtime-b17b945b1c0355ab6f63.js
  webpack-runtime-b17b945b1c0355ab6f63.js.map
  webpack.stats.json
Due: npm run format:precommit, npm run lint:fix

Path conditions:
  npm run format:precommit: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
