Repository projectunic0rn/pub: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:precommit, npm run lint:fix

Finalize blog post content
  content/blog/2019-05-12-contributing-part-iii-project-unicorn-web-site/index.md
  content/blog/2019-08-30-contributing-part-iii-project-unicorn-web-site/index.md
Due: npm run format:precommit

Add hero image to blog post
  content/blog/2019-08-30-contributing-part-iii-project-unicorn-web-site/hero.jpg
  content/blog/2019-08-30-contributing-part-iii-project-unicorn-web-site/index.md
Due: npm run format:precommit

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  blog/author/rmjordas/index.html
  blog/contributing-part-iii-project-unicorn-web-site/index.html
  blog/index.html
  blog/project-unicorn-upwork/index.html
  blog/tag/contributing/index.html
  blog/tag/project-unicorn/index.html
  blog/tags/index.html
  page-data/blog/author/rmjordas/page-data.json
  page-data/blog/contributing-part-iii-project-unicorn-web-site/page-data.json
  page-data/blog/page-data.json
  page-data/blog/project-unicorn-upwork/page-data.json
  page-data/blog/tag/contributing/page-data.json
  page-data/blog/tag/project-unicorn/page-data.json
  page-data/blog/tags/page-data.json
  sitemap.xml
  static/dd9805a2c5ae79d6e0d37cabb592517b/2a223/hero.jpg
  static/dd9805a2c5ae79d6e0d37cabb592517b/2b1a3/hero.jpg
  static/dd9805a2c5ae79d6e0d37cabb592517b/b4a0b/hero.jpg
  static/dd9805a2c5ae79d6e0d37cabb592517b/e6902/hero.jpg
  static/dd9805a2c5ae79d6e0d37cabb592517b/f709c/hero.jpg
  static/dd9805a2c5ae79d6e0d37cabb592517b/fb184/hero.jpg
Due: npm run format:precommit

Address PR comments
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run format:precommit, npm run lint:fix

Addressed PR comments
  src/components/shared/form.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run format:precommit, npm run lint:fix

Update layout.tsx
  src/components/shared/layout.tsx
Due: npm run format:precommit, npm run lint:fix

Front end login page (#52)
  src/components/shared/form.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
  src/styles/theme.ts
Due: npm run format:precommit, npm run lint:fix

create blog post on project unicorn learnings
  content/blog/2019-09-03-project-unicorn-learnings/hero.jpg
  content/blog/2019-09-03-project-unicorn-learnings/index.md
Due: npm run format:precommit

correct date
  content/blog/2019-09-03-project-unicorn-learnings/index.md
Due: npm run format:precommit

add foundit blog post
  content/assets/profile1.png
  content/author.yaml
  content/blog/2019-08-31-foundit-project-retrospective/hero.png
  content/blog/2019-08-31-foundit-project-retrospective/index.md
  package-lock.json
Due: npm run format:precommit

minor grammar fixes
  content/blog/2019-09-03-project-unicorn-learnings/index.md
Due: npm run format:precommit

fix typos and grammatical errors
  .env.example
  content/assets/rickywid.png
  content/blog/2019-08-31-foundit-project-retrospective/index.md
  package-lock.json
Due: npm run format:precommit

update blog post date
  content/blog/2019-09-05-foundit-project-retrospective/hero.png
  content/blog/2019-09-05-foundit-project-retrospective/index.md
Due: npm run format:precommit

create blog post on project unicorn learnings (#55)
  content/blog/2019-09-03-project-unicorn-learnings/hero.jpg
  content/blog/2019-09-03-project-unicorn-learnings/index.md
Due: npm run format:precommit

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  blog/2/index.html
  blog/author/rmoran/index.html
  blog/contributing-part-iii-project-unicorn-web-site/index.html
  blog/index.html
  blog/project-unicorn-learnings/index.html
  blog/tag/project-unicorn/index.html
  page-data/blog/2/page-data.json
  page-data/blog/author/rmoran/page-data.json
  page-data/blog/contributing-part-iii-project-unicorn-web-site/page-data.json
  page-data/blog/page-data.json
  page-data/blog/project-unicorn-learnings/page-data.json
  page-data/blog/tag/project-unicorn/page-data.json
  page-data/blog/tags/page-data.json
  sitemap.xml
  static/db22a923e0e62e63654a2d92740646c3/2728f/hero.jpg
  static/db22a923e0e62e63654a2d92740646c3/2a223/hero.jpg
  static/db22a923e0e62e63654a2d92740646c3/2b1a3/hero.jpg
  static/db22a923e0e62e63654a2d92740646c3/b4a0b/hero.jpg
  static/db22a923e0e62e63654a2d92740646c3/f709c/hero.jpg
  static/db22a923e0e62e63654a2d92740646c3/fb184/hero.jpg
Due: npm run format:precommit

delete index.d.ts file; merge file into declarations.d.td
  index.d.ts
  src/declarations.d.ts
Due: npm run format:precommit, npm run lint:fix

restore .env.example file
  .env.example
Due: none

fix grammatical errors
  content/blog/2019-09-05-foundit-project-retrospective/index.md
Due: npm run format:precommit

update package-lock.json from parent commit
  package-lock.json
Due: npm run format:precommit

use relative paths to related blog posts
  content/author.yaml
  content/blog/2019-09-05-foundit-project-retrospective/index.md
Due: npm run format:precommit

Deploy projectunic0rn/pub to github.com/projectunic0rn/pub.git:gh-pages
  blog/author/rickyjw/index.html
  blog/foundit-retrospective/index.html
  blog/index.html
  blog/project-unicorn-learnings/index.html
  blog/tag/project-unicorn/index.html
  blog/tag/retrospective/index.html
  blog/tags/index.html
  page-data/blog/2/page-data.json
  page-data/blog/author/rickyjw/page-data.json
  page-data/blog/foundit-retrospective/page-data.json
  page-data/blog/page-data.json
  page-data/blog/project-unicorn-learnings/page-data.json
  page-data/blog/tag/project-unicorn/page-data.json
  page-data/blog/tag/retrospective/page-data.json
  page-data/blog/tags/page-data.json
  sitemap.xml
  static/26beed621f0f7b2f34861b686a745bcf/150d1/rickywid.png
  static/26beed621f0f7b2f34861b686a745bcf/5fc05/rickywid.png
  static/26beed621f0f7b2f34861b686a745bcf/6d6f1/rickywid.png
  static/26beed621f0f7b2f34861b686a745bcf/aafa4/rickywid.png
  static/26beed621f0f7b2f34861b686a745bcf/e23ba/rickywid.png
  static/26beed621f0f7b2f34861b686a745bcf/f4899/rickywid.png
  static/cafe9d8ae21bd9899511b21964633a4e/3e65a/hero.png
  static/cafe9d8ae21bd9899511b21964633a4e/b5207/hero.png
  static/cafe9d8ae21bd9899511b21964633a4e/b9cac/hero.png
  static/cafe9d8ae21bd9899511b21964633a4e/cb30f/hero.png
Due: npm run format:precommit

Update Gatsby config for catching local links
  gatsby-config.js
  package-lock.json
  package.json
Due: npm run format:precommit, npm run lint:fix

Update packages
  package-lock.json
  package.json
Due: npm run format:precommit

Undo some package version updates
  package-lock.json
  package.json
Due: npm run format:precommit

minor fix
  content/blog/2019-09-03-project-unicorn-learnings/index.md
Due: npm run format:precommit

minor fix (#60)
  content/blog/2019-09-03-project-unicorn-learnings/index.md
Due: npm run format:precommit

Created the create project form
  src/components/shared/form.tsx
  src/pages/projects/create.tsx
Due: npm run format:precommit, npm run lint:fix

Fix spelling and grammar mistakes
  content/blog/2019-05-29-contributing-part-i-getting-started/index.md
  content/blog/2019-06-02-contributing-part-ii-publishing-blog-posts/index.md
  content/blog/2019-08-30-contributing-part-iii-project-unicorn-web-site/index.md
Due: npm run format:precommit

Created create project form
  src/components/shared/form/controls.tsx
  src/components/shared/form/forms.tsx
  src/components/shared/form/index.tsx
  src/components/shared/tech-input.tsx
  src/pages/projects/create.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run format:precommit, npm run lint:fix

fix textarea and select inputs bugs
  src/components/shared/form/controls.tsx
  src/components/shared/form/forms.tsx
  src/pages/create.tsx
Due: npm run format:precommit, npm run lint:fix

add styling for TextInputArea
  src/components/shared/form/controls.tsx
  src/components/shared/form/forms.tsx
Due: npm run format:precommit, npm run lint:fix

edit form submit btn css
  src/components/index-page/cta-button.tsx
  src/components/shared/form/controls.tsx
Due: npm run format:precommit, npm run lint:fix

add http client class for api calls
  .env.example
  src/api/api-service.ts
  src/api/auth-service.ts
  src/api/http-client.ts
  src/api/service-resolver.ts
  src/mocks/mock-api-service.ts
  src/mocks/mock-auth-service.ts
  src/mocks/responses/.gitkeep
Due: npm run format:precommit, npm run lint:fix

add mock responses, change 'any' to 'unknown' type
  src/api/api-service.ts
  src/api/auth-service.ts
  src/api/http-client.ts
  src/mocks/mock-auth-service.ts
  src/mocks/responses/.gitkeep
  src/mocks/responses/loginResponse.ts
  src/mocks/responses/registerResponse.ts
Due: npm run format:precommit, npm run lint:fix

simplify defining of api endpoint.
  src/api/api-service.ts
  src/api/auth-service.ts
Due: npm run format:precommit, npm run lint:fix

Path conditions:
  npm run format:precommit: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
